@import "../../../assets/dashboard-variables.scss";
@import "../../../assets/greenfinch-variables.scss";

.controlbar-container {
    & .molButtonGroup {
        margin-right: $marginSmall;
        &:first-child {
            margin-left: 0;
            margin-right: 0;
        }
        &:last-child {
            margin-right: 0;
            & button:last-child {
                margin-left: $marginXSmall;
            }
        }
    }
}