@import "../../../assets/dashboard-variables.scss";
@import "../../../assets/greenfinch-variables.scss";


.containerIcon {
    display: inline-block;
    margin: auto;
    position: relative;
    margin-bottom: 8px;
    margin-top: 12px;
    border-top-style: solid;
    &:before {
        content: '';
        left: 0px;
        position: absolute;
        width: 50%;
    }
    &.small {
        border-top-width: 3px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        width: 45px;
        height: 35px;
        &:before {
            height: 0.5em;
            top: -0.5em;
            border-radius: 3px 5px 0 0;
        }
    }
    &.medium {
        border-top-width: 4px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        width: 90px;
        height: 70px;
        &:before {
            height: 0.7em;
            top: -0.7em;
            border-radius: 5px 9px 0 0;
        }
    }
    &.large {
        border-top-width: 5px;
        box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
        border-radius: 7px;
        width: 135px;
        height: 105px;
        &:before {
            height: 0.9em;
            top: -0.9em;
            border-radius: 7px 12px 0 0;
        }
    }
}

.neo {
    background: linear-gradient(180deg, $brandColorSecondary 0%, $brandColorPrimary 76%, $brandColorSecondary 100%);
    border-top-color: $brandColorPrimary;
    &:before {
        background-color: $brandColorPrimary;
    }
}