@import "../../../assets/dashboard-variables.scss";
@import "../../../assets/greenfinch-variables.scss";

li.navlink-side {
    overflow: visible;
    & a {
        transition: $brandTransitionSpeed;
        background-color: rgba(0,0,0,0);
        width: 100%;
        padding: $paddingXSmall*1.5 0;
        text-align: center;
        color: rgba($brandColorWhite,0.7);
        &:hover {
            cursor: pointer;
            color: rgba($brandColorWhite,1);
            background-color: rgba(0,0,0,0.1);
        }
        & i {
            font-size: 1.3rem;
        }
        &.active {
            color: rgba($brandColorWhite,1);
            background-color: rgba(0,0,0,0.2);
        }
    }
}