@import "../../../assets/dashboard-variables.scss";
@import "../../../assets/greenfinch-variables.scss";

.buttonText {
    border-radius: $brandBorderRadius;
    &.small {
        font-size: 0.75rem;
        padding: 4px 8px;
    }
    &.medium {
        font-size: 0.9rem;
        padding: 5px 10px;
    }
    &.large {
        font-size: 1.1rem;
        padding: 6px 12px;
    }
    &.default, &.primary {
        color: $brandColorWhite;
        background-color: $brandColorDark;
        &:hover {
            text-decoration: none;
            color: $brandColorPrimary;
            background-color: $brandColorDark;
        }
        & i {
            margin-right: 7px;
        }
    }
    &.clean, &.secondary {
        background-color: rgba(0,0,0,0.03);
        &:hover {
            color: $brandColorDark;
            background-color: rgba(0,0,0,0.1);
        }
        & i {
            margin-right: 7px;
        }
    }
}

.me-auto {
    & .buttonText {
        &.default, &.clean, &.primary, &.secondary {
            margin-right: $marginXSmall;
        }
    }
}

.ms-auto {
    & .buttonText {
        &.default, &.clean, &.primary, &.secondary {
            margin-left: $marginXSmall;
        }
    }
}

// Should be attribute == disbaled
.utInactive {
    cursor: not-allowed!important;
    opacity: 0.1;
    &:hover {
        background-color: $brandColorDark;
        color: $brandColorWhite;
    }
}