@import "../../../assets/greenfinch-variables.scss";

.atmButtonText {
    border-radius: $brandBorderRadius;
    & i {
        margin-right: 7px;
    }
    &.small {
        font-size: 0.75rem;
        padding: 3px 6px;
    }
    &.medium {
        font-size: 0.9rem;
        padding: 5px 10px;
    }
    &.large {
        font-size: 1.1rem;
        padding: 6px 12px;
    }
    &.default, &.primary {
        color: $brandColorWhite;
        background-color: $brandColorDark;
        &:hover {
            text-decoration: none;
            color: $brandColorPrimary;
            background-color: $brandColorDark;
        }
    }
    &.clean, &.secondary {
        border: 1px solid rgba(0,0,0,0.06);
        color: $brandColorDark;
        background-color: rgba(0,0,0,0.03);
        &:hover {
            text-decoration: none;
            color: $brandColorDark;
            background-color: rgba(0,0,0,0.1);
        }
    }
    &.dora {
        color: $brandColorWhite;
        background-color: $brandColorDark;
        &:hover {
            text-decoration: none;
            color: $doraPurple;
            background-color: $brandColorDark;
        }
    }
}

.me-auto {
    & .atmButtonText {
        margin-right: $marginXSmall;
    }
}

.ms-auto {
    & .atmButtonText {
        margin-left: $marginXSmall;
    }
}