!wallets/
wallets/*
!wallets/.placeholder
!build/bin/
build/bin/*
!build/bin/.placeholder
!build/
node_modules/
frontend/build
!frontend/src/dbg_data_structures/
frontend/src/dbg_data_structures/*
!frontend/src/dbg_data_structures/.placeholder
.idea/
