.dd-wrapper {
    width: 185px;
    margin: 30px auto;
}

.dd-selected {
    padding: 10px;
    background: beige;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
}
.dd-items-wrapper {
    box-shadow: -2px 4px 6px 2px #cccc;
    padding: 5px;
    border-radius: 5px;
    margin: 0px;
}

.dd-item.active {
    background: #ececc2;
}

.dd-item {
    list-style: none;
    text-align: left;
    padding: 4px 12px;
    margin-bottom: 3px;
    cursor: pointer;
    border-radius: 5px;
}
.dd-item:hover {
    background: #cccc;
}
