@import "../../../assets/dashboard-variables.scss";
@import "../../../assets/greenfinch-variables.scss";

.section-wallet {
    background-color: rgba(0,0,0,0.05);
    padding: $paddingMedium;
    margin-bottom: $marginLarge;
    & i {
        color: rgba(0,0,0,0.2);
    }
    & p {
        font-size: 1rem;
        font-family: $brandFontSemi;
    }
    .wallet-name {
        font-family: $brandFontSemi;
    }
}