@import "../../../assets/dashboard-variables.scss";
@import "../../../assets/greenfinch-variables.scss";

.section-wallet {
    background-color: rgba(0,0,0,0.05);
    padding: $paddingMedium;
    margin-bottom: $marginLarge;
    clip-path: polygon(0 0,100% 0,100% calc(100% - 20.00px),calc(100% - 20.00px) 100%,0 100%);
    & i {
        color: rgba(0,0,0,0.2);
    }
    & p {
        font-size: 1rem;
        font-family: $brandFontSemi;
    }
    .wallet-name {
        font-family: $brandFontSemi;
    }
}

.wallet-recent {
    padding-bottom: $marginXSmall;
    margin-bottom: $marginXSmall;
    border-bottom: 1px solid $brandColorDark-hint;
    &:last-child {
        border-bottom: none;
        margin-bottom: 0;
    }
}

.wallet-name + .wallet-tag {
    margin-left: $marginXSmall;
}

.wallet-tag {
    @include fadeIn(
		$duration: 0.5s,
		$count: 1,
	);
    font-size: 0.7rem;
    font-family: $brandFontSemi;
    background-color: rgba(0,0,0,0.1);
    color: $brandColorDark;
    padding: 3px 5px;
    border-radius: 6px;
}