@import "../../../../assets/dashboard-variables.scss";
@import "../../../../assets/greenfinch-variables.scss";

// TO SORT
// RowConteainer styles duplicated with RowObject
// These styles are duplicated, potentially import styles from RowObject
.molButtonRow {
    margin-bottom: 7px;
    background-color: rgba($brandColorSecondary, 0.03);
    border: 1px solid $brandColorWhite;
    &:hover {
        background-color: rgba($brandColorSecondary, 0.05);
        border: 1px solid $brandColorPrimary;
    }
}

.atmButtonRowContent {
    border-radius: 0;
    background: none;
    &:hover {
        cursor: default;
    }
    & i {
        color: $brandColorPrimary;
        margin-right: $marginMedium;
    }
    & .atmButtonRowName {
        margin-left: 2px;
        font-family: $brandFontSemi;
        color: $brandColorSecondary-dark;
        font-size: 0.75rem;
        &:hover {
            cursor: pointer;
        }
    }
}


// From Card Container OR ContainerGrid
.atmButtonGridHeader {
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    background: none;
}

/* Styles: File icons
- - - - - - - - - - - - - - - - - - */
.file-icon {
    background: linear-gradient(180deg, $brandColorSecondary 0%, $brandColorPrimary 76%, $brandColorSecondary 100%);
    border-radius: 2px;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    font-family: $brandFontSemi;
    &:before {
        border-bottom-left-radius: 2px;
        border-width: 5px;
        border-style: solid;
        border-color: #fff #fff rgba(255,255,255,0.35) rgba(255,255,255,0.35);
    }
    &:after {
        font-size: 0.9rem;
        color: $brandColorWhite;
        text-transform: lowercase;
        white-space: nowrap;
        overflow: hidden;
    }
}

.file-icon-lg {
    border-radius: 3px;
    &:before {
        border-bottom-left-radius: 2px;
        border-width: 8px;
    }
    &:after {
        font-size: 0.8rem;
    }
}

.file-icon-xl {
    border-radius: 4px;
    &:before {
        border-bottom-left-radius: 4px;
        border-width: 16px;
    }
    &:after {
        font-size: 0.9rem;
    }
}

// From Card Object OR ObjectGrid
.atmButtonGridContent {
    width: 100%;
    padding-top: $paddingXSmall;
    padding-bottom: $paddingSmall;
    border-radius: 0;
    background: none;
    & .atmButtonGridName {
        color: $brandColorDark;
        font-size: 0.75rem;
        font-family: $brandFontSemi;
        margin-top: $marginXSmall;
        margin-bottom: 2px;
        max-width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover {
            cursor: pointer;
        }
        & i {
            color: $brandColorPrimary;
        }
    }
}

.atmButtonGridContent {
    & figure {
        height: 120px;
        width: 120px;
        & img {
            border: 3px $brandColorWhite solid;
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
        }
    }
}

file-icon.pending-deleted {
    background-color: red;
}
