@import "../../../assets/dashboard-variables.scss";
@import "../../../assets/greenfinch-variables.scss";

.HeaderPageWrapper {
    margin-right: $marginSmall;
    margin-bottom: $marginMedium*2;
    & .HeaderPage {
        border-bottom: 2px dotted rgba($brandColorDark, 0.5);
    }
}