@import "../../../assets/greenfinch-variables.scss";

/* Component: Toggle Switch
- - - - - - - - - - - - - - - - - - */
.atmSwitchHeading {
    & h5 {
        margin: 0;
    }
}

.atmSwitchLabel {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 26px;
    & input.atmInputToggle {
        opacity: 0;
        width: 0;
        height: 0;
        &:checked + .atmSwitchSlider {
            background-color: $brandColorPrimary;
        }
        &:checked + .atmSwitchSlider:before {
            transform: translateX(20px);
        }
    }
}

.atmSwitchSlider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-color: $brandColorDark;
    transition: $brandTransitionSpeed;
    &:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 3px;
        bottom: 3px;
        background-color: $brandColorWhite;
        transition: $brandTransitionSpeed;
    }
    &.utRound {
        border-radius: 34px;
        &:before {
            border-radius: 50%;
        }
    }
}