@import "../../../assets/dashboard-variables.scss";
@import "../../../assets/greenfinch-variables.scss";

.org-navbar-side {
    background-color: $brandColorDark;
    height: calc(100% - $heightFooter);
    width: 60px;
    overflow: visible;
    & ul {
        width: 60px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        height: 100%;
        overflow: visible;
      }
}

button.navbarSide {
    transition: $brandTransitionSpeed;
    background-color: rgba(0,0,0,0);
    width: 100%;
    padding: $paddingXSmall*1.5 0;
    text-align: center;
    color: rgba($brandColorWhite,0.7);
    &:hover {
        cursor: pointer;
        color: rgba($brandColorWhite,1);
        background-color: rgba(0,0,0,0.1);
    }
    & i {
        font-size: 1.3rem;
    }
}