@import "../../../assets/greenfinch-variables.scss";

.atmButtonClose {
    & i {
        transition: $brandTransitionSpeed;
        color: rgba($brandColorDark, 0.5);
        background-color: rgba(0,0,0,0);
        cursor: pointer;
        &:hover {
            color: rgba($brandColorDark, 1);
            background-color: rgba(0,0,0,0.05);
        }
    }
    &.div {
        & i {
            position: absolute;
            top: 7px;
            right: 7px;
            padding: 4px 8px;
            font-size: 1.2rem;
            border-radius: 2px;
            cursor: pointer;
        }
    }
    &.drawer { // not currently live due to the type of button required on a drawer
        & i {
            padding: 6px 12px;
            font-size: 1.6rem;
            border-radius: 3px;
        }
    }
}