@import "../../../assets/greenfinch-variables.scss";

.atmButtonClose {
    & i {
        position: absolute;
        top: 7px;
        right: 7px;
        transition: $brandTransitionSpeed;
        padding: 4px 8px;
        font-size: 1.2rem;
        color: rgba($brandColorDark, 0.5);
        background-color: rgba(0,0,0,0);
        border-radius: 2px;
        cursor: pointer;
        &:hover {
            color: rgba($brandColorDark, 1);
            background-color: rgba(0,0,0,0.05);
        }
    }
}