@import "../../../../assets/greenfinch-variables.scss";

// General
// - - - - - - - - - - - - - - - - - - - - - -
.orgViewContainersGrid,
.orgViewContainersRow,
.orgViewObjectsGrid,
.orgViewObjectsRow {
    transition: $brandTransitionSpeed;
    border: 1px solid $brandColorWhite;
    background-color: rgba($brandColorSecondary, 0.03);
    border-radius: 0;
    margin-bottom: $marginXSmall;
    &:hover {
        background-color: rgba($brandColorSecondary, 0.05);
        border: 1px solid $brandColorPrimary;
    }
}

.molViewContainersHeader, .molViewObjectsHeader {
    line-height: 1;
}

.molViewContainersBody, .molViewObjectsBody {
    line-height: 1; 
}

// When Content Body === Button
button.molViewContainersBody, button.molViewObjectsBody {
    padding: 0;
    background-color: unset;
    width: 100%;
    border-radius: 0;
    cursor: pointer;
}

.atmContentName, .atmContentDefault {
    padding: $paddingXSmall 0;
    color: $brandColorDark;
    font-family: $brandFontSemi;
    font-size: 0.75rem;
    line-height: 1;
}

// Grid, Containers + Objects
// - - - - - - - - - - - - - - - - - - - - - -
.orgViewContainersGrid, .orgViewObjectsGrid {
    height: $CardContentGridHeight;
    & .molViewContainersBody, .molViewObjectsBody {
        height: calc($CardContentGridHeight - $CardContentProportion);
        padding: $paddingSmall $paddingXSmall;
        & figure {
            height: 120px;
            width: 120px;
            & img {
                border: 3px $brandColorWhite solid;
                box-shadow: 0 0 5px rgba(0,0,0,0.2);
            }
        }
        & .atmContentName {
            margin-top: $marginSmall;
        }
    }
}

// Row, Containers + Objects
// - - - - - - - - - - - - - - - - - - - - - -
.orgViewContainersRow, .orgViewObjectsRow {
    min-height: calc($CardContentProportion + 2px); // Include 1px border
    & .molViewContainersBody, .molViewObjectsBody { 
        min-height: $CardContentProportion;
        & figure {
            margin: 0 $marginSmall;
            height: $CardContentProportion;
            width: $CardContentProportion;
        }
        & .atmContentName {
            text-align: left;
        }
        & .atmContentDefault {
            min-width: 80px;
            text-align: left;
            margin-right: $marginSmall;
            &:last-child {
                margin-right: 0;
            }
        }
        & i {
            margin-left: $marginSmall;
            color: $brandColorPrimary;
        }
    }
}

.atmContentNameWrapper {
    max-width: 240px;
}
@media (min-width:1400px) { //bootstrap xxl
    .atmContentNameWrapper {
        max-width: 300px;
    }
}
@media (min-width:1600px) {
    .atmContentNameWrapper {
        max-width: 400px;
    }
}
@media (min-width:1800px) {
    .atmContentNameWrapper {
        max-width: 500px;
    }
}