@import "../../../../assets/dashboard-variables.scss";
@import "../../../../assets/greenfinch-variables.scss";


// General
// - - - - - - - - - - - - - - - - - - - - - -
.orgViewContainersGrid,
.orgViewContainersRow,
.orgViewObjectsGrid,
.orgViewObjectsRow {
    transition: $brandTransitionSpeed;
    border: 1px solid $brandColorWhite;
    background-color: rgba($brandColorSecondary, 0.03);
    border-radius: 0;
    margin-bottom: $marginXSmall;
    &:hover {
        background-color: rgba($brandColorSecondary, 0.05);
        border: 1px solid $brandColorPrimary;
    }
}

.molViewContainersHeader, .molViewObjectsHeader {
    line-height: 1;
}

.molViewContainersBody, .molViewObjectsBody {
    line-height: 1; 
}

// When Content Body === Button
button.molViewContainersBody, button.molViewObjectsBody {
    padding: 0;
    background-color: unset;
    width: 100%;
    border-radius: 0;
    cursor: pointer;
}

.atmContentName, .atmContentDefault {
    color: $brandColorDark;
    font-family: $brandFontSemi;
    font-size: 0.75rem;
    line-height: 1;
}

// Grid, Containers + Objects
// - - - - - - - - - - - - - - - - - - - - - -
.orgViewContainersGrid, .orgViewObjectsGrid {
    height: $CardContentGridHeight;
    & .molViewContainersBody, .molViewObjectsBody {
        height: calc($CardContentGridHeight - $CardContentProportion);
        padding: 0 $paddingXSmall;
        & figure {
            height: 120px;
            width: 120px;
            & img {
                border: 3px $brandColorWhite solid;
                box-shadow: 0 0 5px rgba(0,0,0,0.2);
            }
        }
        & .atmContentName {
            margin-top: $marginSmall;
            margin-bottom: $marginMedium;
        }
    }
}

// Row, Containers + Objects
// - - - - - - - - - - - - - - - - - - - - - -
.orgViewContainersRow, .orgViewObjectsRow {
    height: calc($CardContentProportion + 2px); // Include 1px border
    margin-bottom: 6px;
    & .molViewContainersBody, .molViewObjectsBody { 
        height: $CardContentProportion;
        & figure {
            margin-left: $marginSmall;
            height: $CardContentProportion;
            width: $CardContentProportion;
        }
        & .atmContentName {
            margin-left: $marginSmall;
            text-align: left;
            width: 300px;
        }
        & .atmContentDefault {
            text-align: left;
            margin-right: $marginSmall;
            width: 80px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}