@import "../../../../assets/dashboard-variables.scss";
@import "../../../../assets/greenfinch-variables.scss";

//.orgViewContainersGrid,.orgViewObjectsGrid {}
//.orgViewContainersRow, .orgViewObjectsRow {}

// Ultimately whittle down as should be governed by components

$rowdimension: 36px;

.molButtonGrid {
    margin-bottom: $marginXSmall;
    background-color: rgba($brandColorSecondary, 0.03);
    border: 1px solid $brandColorWhite;
    &:hover {
        background-color: rgba($brandColorSecondary, 0.05);
        border: 1px solid $brandColorPrimary;
    }
    & .atmButtonGridHeader {
        &:hover { 
            cursor: default;
        }
    }
    & .atmButtonOptions {
        width: 30px;
        height: 30px;
        position: relative;
        border-radius: 0;
        background-color: rgba($brandColorSecondary, 0.04);
        &:hover {
            cursor: pointer;
            background-color: rgba($brandColorSecondary, 0.1);
        }
    }
    & .utOverlayMenuSmall {
        position: absolute;
        z-index: 150;
        top: 30px;
        left: 0;
        min-width: 180px;
        background-color: $brandColorWhite;
        box-shadow: $brandBoxShadow;
        font-size: 0.9rem;
        text-align: left;
        color: $brandColorDark;
    }
    &.utCardSelected {
        border: 1px solid $brandColorPrimary;
    }
}



.molButtonRow {
    & .atmButtonOptions {
        width: 30px;
        height: 30px;
        position: relative;
        border-radius: 0;
        background-color: rgba($brandColorSecondary, 0.04);
        &:hover {
            cursor: pointer;
            background-color: rgba($brandColorSecondary, 0.1);
        }
    }
    & .utOverlayMenuSmall {
        position: absolute;
        z-index: 500;
        top: 20px;
        right: 0; 
        min-width: 180px;
        z-index: 200;
        background-color: $brandColorWhite;
        box-shadow: $brandBoxShadow;
        font-size: 0.9rem;
        text-align: left;
        color: $brandColorDark;
    }
    & .atmRowList {
        width: 200px;
        font-family: $brandFontSemi;
        color: $brandColorDark;
        font-size: 0.7rem;
        &:first-child {
            width: 400px;
        }
    }
    & .atmButtonRowContent {
        width: 100%;
        height: $rowdimension;
        padding: 0;
        &:hover {
            cursor:pointer;
        }
    }
}

// New and to organise
.atmButtonGridHeader {
    & .dropdown-toggle::after {
        content: none;
    }
}

.atmRowList {
    font-family: $brandFontSemi;
    color: $brandColorDark;
    font-size: 0.7rem;
}

.atmRowName {
    width: 240px;
    white-space: nowrap;
    text-align: left;
}

.atmRowDefault {
    margin-right: $marginSmall;
    width: 72px;
    &:last-child {
        margin-right: 0;
    }
}

.atmRowCheck {
    width: $rowdimension;
}

.atmRowMenu {
    width: $rowdimension;
}

.atmRowImage {
    background-color: rgba(0,0,0,0.2);
    height: $rowdimension;
    margin: 0 $marginSmall;
    & figure.atmRowFile { // shoudl we introduce a fig class?
        height: $rowdimension;
        width: $rowdimension;
    }
}