@import "../../../assets/dashboard-variables.scss";
@import "../../../assets/greenfinch-variables.scss";

.atmButtonDefault {
    padding: 5px 12px;
    font-size: 0.9rem;
    color: $brandColorWhite;
    background-color: $brandColorDark;
    border-radius: $brandBorderRadius;
    
    &:hover {
        color: $brandColorPrimary;
        background-color: $brandColorDark;
    }
    & i {
        margin-right: 7px;
    }
    &.utInactive {
        cursor: not-allowed!important;
        opacity: 0.1;
        &:hover {
            background-color: $brandColorDark;
            color: $brandColorWhite;
        }
    }
}

// TO SORT
/* .me-auto {
    & .atmButtonDefault { 
        margin-right: $marginSmall;
    }
}

.ms-auto {
    & .atmButtonDefault {
         margin-left: $marginSmall;
    }
} */