// Layout stylesheet

/* Variables: Margin & Padding
- - - - - - - - - - - - - - - - - - */
$baseSizing: 1rem; // To test this value. We think 16px;

$paddingXSmall: $baseSizing*0.5;
$paddingSmall: $baseSizing;
$paddingMedium: $baseSizing *1.5;
$paddingLarge: $baseSizing *2;

$marginXSmall: $baseSizing*0.5;
$marginSmall: $baseSizing;
$marginMedium: $baseSizing *1.5;
$marginLarge: $baseSizing *2;

/* Reset
- - - - - - - - - - - - - - - - - - */
body {
    height: 100vh;
}

span {
    display: inline-block;
}

.container, .container-fluid {
    padding-left: $paddingLarge;
    padding-right: $paddingLarge;
}

/* Elements: Buttons
- - - - - - - - - - - - - - - - - - */

// can we make buttons a mixin, to add border radius...etc, work out what is required from a button - starting point and to build upon.

// Make mixin
.atmButtonBase {
    &.nav-link {
        padding-left: $paddingSmall;
        width: 100%;
        & i {
            margin-right: $marginXSmall;
        }
    }
}

.atmButtonSimple {
    padding: 5px 12px;
    & i {
        margin-right: 7px;
    }
}

.atmButtonText {
    padding: 0;
    margin: 0;
}

.atmButtonIcon {
    padding: 5px 8px;
    min-width: 30px; 
}

.me-auto {
    & .atmButtonSimple, .atmButtonIcon, .atmButtonIconClean {
        margin-right: $marginSmall; //temporary
    }
}

.ms-auto {
    & .atmButtonSimple, .atmButtonIcon, .atmButtonIconClean {
        margin-left: $marginSmall; //temporary
    }
}

.atmButtonIconClean {
    padding: 0;
}

/* Element: Tabs
- - - - - - - - - - - - - - - - - - */
.orgTabsView {
    & ul.nav-tabs {
        width: 100%;
        & li.nav-item {
            text-align: center;
            width: 50%;
            & button.nav-link {
                text-align: center;
                padding: $paddingSmall 0;
                width: 100%;
            }
        }
    }
    & .atmTabTitle {
        margin-left: $marginXSmall;
    }
}

.orgViewJSON, .orgViewVisual {
    padding: $paddingSmall;
}

/* Element: Toggle switch
- - - - - - - - - - - - - - - - - - */
.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 34px;
    & input { 
        width: 0;
        height: 0;
    }
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
    }
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Component: Modal
- - - - - - - - - - - - - - - - - - */
.modal {
    & label {
        display: block;
    }
    .form-label {
        margin-bottom: 0!important;
    }
    .form-text {
        margin-top: 0!important;
    }
    & .form-control {
        margin-top: $marginSmall;
    }
}

/* Component: Progress
- - - - - - - - - - - - - - - - - - */
.molProgress {
    & .utTemp {
        position: fixed;
        z-index: 30000;
        top: 40px;
        right: 40px;
        width: 350px;
        min-height: 70px;
    }
    & .molProgressContainer {
        width: 600px;
        padding: $paddingSmall;
        & .molProgressFooter {
            padding-top: $paddingSmall;
        }
    }   
}

/* Component: Toast
- - - - - - - - - - - - - - - - - - */
.molToastContainer {
    transition: transform .6s ease-in-out;
    animation: toast-in-right .7s;
}

@keyframes toast-in-right {
	from {
	  transform: translateX(100%);
	}
	to {
	  transform: translateX(0);
	}
}

.molToastWrapper {
    position: fixed;
    top: 40px;
    right: 40px;
    margin: 0 auto;
    width: 350px;
    min-height: 70px;
    z-index: 20000;
    & .molToastInner {
        min-height: 70px;
        width: 100%;
        & .molToastIcon {
            min-height: 70px;
            width: 60px;
        }
        & .molToastContent {
            min-height: 70px;
            width: 100%;
            padding: $paddingSmall;
            & span.atmToastTitle {
                margin-bottom: 7px;
            }
            & i.fa-times { // close button
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
            }
        }
    }
}

/* Styles: Folders
- - - - - - - - - - - - - - - - - - */
.folder-icon { //Update classes
    width: 90px;
    height: 70px;
    display: inline-block;
    margin: auto;
    position: relative;
    margin-bottom: 8px;
    margin-top: 12px;
    &:before {
        width: 50%;
        height: 0.7em;
        position: absolute;
        top: -0.7em;
        left: 0px;
    }
}

/* Styles: File icons
- - - - - - - - - - - - - - - - - - */
.file-icon {
    display: inline-block;
    width: 24px;
    height: 32px;
    position: relative;
    margin-bottom: 4px;
    &:before {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
    }
    &:after {
        display: block;
        content: '.'attr(data-type);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 2px;
        white-space: nowrap;
        overflow: hidden;
    }
}

.file-icon-lg {
    width: 48px;
    height: 64px;
    &:after {
        padding: 4px 6px;
    }
}

.file-icon-xl {
    width: 96px;
    height: 128px;
    &:after {
        padding: 4px 10px;
    }
}

/* Styles: Utilites
- - - - - - - - - - - - - - - - - - */

/* Styles: General
- - - - - - - - - - - - - - - - - - */

.orgHeaderStatus {
    & .molHeaderContent {
        padding: $paddingSmall;
    }
    & .atmStatus {
        margin-right: $marginSmall;
    }
}

.orgMainJSON { //change this name
    margin-top: $marginSmall;
    margin-bottom: $marginSmall;
    & .molViewJSON {
        height: 500px;
    }
    .orgBlockData {
        height: 120px;
    }   
    & .molBlockJSON {
        padding: $paddingSmall;
        margin-bottom: $marginSmall;
    }
    & .molBlockUpload {
        padding: $paddingXSmall;
        margin: 0 $marginSmall; 
        & .atmBlockUpload {
            width: 100%;
        }
    }
    .orgContainersGrid {
        padding: 0 $paddingSmall;
        height: 400px;
        margin-top: $marginSmall;
        overflow-x: hidden;
        overflow-y: scroll;
        & .molButtonGrid {
            margin-bottom: 14px;
            & .atmButtonGridHeader, .atmButtonGridContent {
                width: 100%;
            }
            & .atmButtonGridHeader {
                padding: 0;
                margin: 0;
            }
            & .atmButtonGridContent {
                width: 100%;
                padding-top: 32px;
                padding-bottom: 16px;
                & .atmButtonGridName {
                    margin-top: 2px;
                    margin-bottom: 2px;
                    max-width: 160px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            & .atmButtonOptions {
                position: relative;
                padding: 0 5px;
            }
        }
        & .molButtonRow {
            margin-bottom: 7px;
            & .atmButtonRowContent {
                & i {
                    margin-right: $marginMedium;
                }
                & .atmButtonRowName {
                    margin-left: 2px;
                    margin-left: 2px;
                }
            }
            & .atmButtonOptions {
                position: relative;
            }
        }
    }
}

.molButtonGrid {
    & .utOverlayMenuSmall {
        position: absolute;
        z-index: 500;
        top: 30px;
        left: 0;
        min-width: 180px;
        z-index: 200;
    }
}

.molButtonRow {
    & .utOverlayMenuSmall {
        position: absolute;
        z-index: 500;
        top: 20px;
        right: 0; 
        min-width: 180px;
        z-index: 200;
    }
    & .atmRowList {
        width: 200px;
        &:first-child {
            width: 400px;
        }
    }
}

.atmSwitchContent {
    padding-right: 40px;
}

/* Layout: Breadcrumb
- - - - - - - - - - - - - - - - - - */
.molBlockBread { // to sort as not helpful now
    padding: $paddingXSmall $paddingSmall;
    margin: 0;
    & span.atmBreadCrumb, & span.utBreadLive {
        margin-right: 10px;
        max-width: 170px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
    & i {
        margin-right: $marginXSmall;
    }
    & .ms-auto i {
        margin-right: 0;
    }
}



.orgWalletFooter { // short-term option as being over-run below
    & .atmButtonSimple {
        margin-left: 0;
        & i {
            margin-right: 7px;
        }
    }
}


/* Component: Wallet
- - - - - - - - - - - - - - - - - - */
.utButtonWallet {
    position: relative;
}

.molWallet {
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 300;
    min-width: 320px;
    min-height: 420px;
    span.atmWalletNumber {
        display:block;
    }
    span.atmWalletAddress {
        font-size: 0.7rem;
    }
    & h6 {
        margin-bottom: 3px;
    }
}

.orgWalletHeader {
    padding: $paddingXSmall;
}
.orgWalletBody {
    padding: $paddingXSmall;
}
.orgWalletFooter {
    padding: $paddingXSmall;
}

.molWalletOption {
    margin-bottom: $marginSmall;
}

/* View: Options
- - - - - - - - - - - - - - - - - - */
.molButtonGroup {
    margin: 0 5px;
}

.molContainersHeader {
    padding: $paddingSmall $paddingSmall;
    margin-bottom: $marginMedium;
    & .molButtonGroup {
        margin-right: $marginSmall;
        &:first-child {
            margin-left: 0;
            margin-right: 0;
        }
        &:last-child {
            margin-right: 0;
            & button:last-child {
                margin-left: $marginXSmall;
            }
        }
    }
}


.orgFooterAction {
    padding: $paddingSmall;
}

/* Styles: Offcanvas Right
- - - - - - - - - - - - - - - - - - */
#offcanvasRight {
    .molBlockSwitch, .molBlockDropdown {
        margin-bottom: $marginLarge;
    }
    & h4 {
        margin-top: $marginSmall;
        margin-bottom: $marginSmall;
    }
}

/* Styles: Typography
- - - - - - - - - - - - - - - - - - */
h2, h4 {
    margin-bottom: $marginSmall;
}

h4 {
    &.atmWalletTitle {
        margin: 0;
    }
}

span {
    &.atmContainerTitle {
        margin: 0;
        padding: 0;
    }
}


