/* Variables: Margin & Padding
- - - - - - - - - - - - - - - - - - */
$maxDisplay: 1720px;
$baseSizing: 1rem; // 16px

$paddingXSmall: $baseSizing * 0.5;
$paddingSmall: $baseSizing;
$paddingMedium: $baseSizing * 1.5;
$paddingLarge: $baseSizing * 2;
$paddingXLarge: $baseSizing * 3;

$marginXSmall: $baseSizing * 0.5;
$marginSmall: $baseSizing;
$marginMedium: $baseSizing * 1.5;
$marginLarge: $baseSizing * 2;
$marginXLarge: $baseSizing * 3;

//Explicit layout heights, to allow for scroll
$heightHeader: 72px;
$heightPageHeader: 70px;
$heightFooter: 15px;

//Sets Card Content proportional dimension, e.g. Row height
$CardContentProportion: 36px;
$CardContentGridHeight: 210px;

/* Reset + Base
- - - - - - - - - - - - - - - - - - */
body {
    min-height: 100vh;
}

span {
    display: inline-block;
}

figure {
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.form-div {
    margin-bottom: $marginXSmall;
}

.form-label {
    margin-bottom: $marginXSmall*0.5;
}