// Layout stylesheet

/* Variables: Margin & Padding
- - - - - - - - - - - - - - - - - - */
$baseSizing: 1rem; // To test this value. We think 16px;

$paddingXSmall: $baseSizing*0.5;
$paddingSmall: $baseSizing;
$paddingMedium: $baseSizing *1.5;
$paddingLarge: $baseSizing *2;

$marginXSmall: $baseSizing*0.5;
$marginSmall: $baseSizing;
$marginMedium: $baseSizing *1.5;
$marginLarge: $baseSizing *2;

/* Reset
- - - - - - - - - - - - - - - - - - */
body {
    height: 100vh;
}

span {
    display: inline-block;
}

.container {
    padding-left: $paddingLarge;
    padding-right: $paddingLarge;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}