// Brand stylesheet

/* Variables: Fonts
- - - - - - - - - - - - - - - - - - */
// Myfonts.com - use the 'Webfont Kit Download' configuration
@import url("//hello.myfonts.net/count/3e7d84");

@font-face {
    font-family: 'AvertaStdPE-Regular';
    src: url('fonts/AvertaStdPERegular/font.woff2') format('woff2'), url('fonts/AvertaStdPERegular/font.woff') format('woff');
}
@font-face {
    font-family: 'AvertaStdPE-Semibold';
    src: url('fonts/AvertaStdPESemibold/font.woff2') format('woff2'), url('fonts/AvertaStdPESemibold/font.woff') format('woff');
}
@font-face {
    font-family: 'AvertaStdPE-Bold';
    src: url('fonts/AvertaStdPEBold/font.woff2') format('woff2'), url('fonts/AvertaStdPEBold/font.woff') format('woff');
}

$brandFontReg: 'AvertaStdPE-Regular', Arial, Helvetica, sans-serif;
$brandFontSemi: 'AvertaStdPE-Semibold', Arial, Helvetica, sans-serif;
$brandFontBold: 'AvertaStdPE-Bold', Arial, Helvetica, sans-serif;

/* Variables: Font Sizes
- - - - - - - - - - - - - - - - - - */


/* Variables: Color
- - - - - - - - - - - - - - - - - - */
$brandColorPrimary: #00E599;
$brandColorSecondary: #00AF92;
$brandColorSecondary-dark: darken($brandColorSecondary, 15%);
$brandColorWhite: #fff;
$brandColorBlack: #000; // Change to a very dark green
$brandColorDark: #2b393f;
$brandColorLight: #f0f5f6;

$toastColorSuccess: #00AF4B;
$toastColorError: #E5004C;
$toastColorWarning: #F47A00;
$toastColorInfo: #0080F4;


/* Variables: General
- - - - - - - - - - - - - - - - - - */
$brandLetterSpacing: 0.2rem;
$brandBorderRadius: 5px;
$brandTransitionSpeed: 0.3s;
$brandDarkenValue: 12%;


/* Mixins
- - - - - - - - - - - - - - - - - - */
@mixin titleStyle {
    text-transform: uppercase; 
    font-family: $brandFontBold;
    letter-spacing: $brandLetterSpacing;
}


/* Styles: Base
- - - - - - - - - - - - - - - - - - */
body {
    font-family: $brandFontReg;
    background-color: $brandColorLight;
}


/* Elements: Buttons
- - - - - - - - - - - - - - - - - - */
button[class^="atmButton"] {
    transition: $brandTransitionSpeed;
    border: none;
    font-family: $brandFontBold;
    border-radius: $brandBorderRadius;
}

.atmButtonSimple {
    font-size: 13px;
    color: $brandColorWhite;
    background-color: $brandColorDark;
    &:hover {
        color: $brandColorPrimary;
        background-color: $brandColorDark;
    }
}

.atmButtonText {
    color: $brandColorDark;
    background: none;
    &:hover {
        text-decoration: underline;
    }
}

.atmButtonIcon {
    font-size: 13px;
    color: $brandColorWhite;
    background-color: $brandColorDark;
    &:hover {
        color: $brandColorPrimary;
        background-color: $brandColorDark;
    }
    &.active {
        cursor: default;
        background-color: $brandColorPrimary;
    }
}

/* Element: Tabs
- - - - - - - - - - - - - - - - - - */
.orgTabsView {
    & ul.nav-tabs {
        border: unset;
        & li.nav-item {
            & button.nav-link {
                transition: $brandTransitionSpeed;
                color: $brandColorWhite; 
                @include titleStyle;
                font-size: 1.1rem;
                border: none;
                border-radius: 0;
                background-color: lighten($brandColorDark, 70%);
                &:hover {
                    background-color: lighten($brandColorDark, 60%);
                }
                &.active {
                    color: $brandColorPrimary; 
                    border-top-left-radius: 0;
                    border-top-left-radius: 0;
                    cursor: default;
                    background-color: rgba(255,255,255,0.8);
                }
            }
        }
    }
    & .orgViewJSON, .orgViewVisual {
        background-color: rgba(255,255,255,0.8);
    }
}

/* #uncontrolled-tab-example-tab-encrypt {
    color: black!important;
} */

/* #uncontrolled-tab-example-tab-decrypt {
    color: black!important;
} */


/* Styles: General
- - - - - - - - - - - - - - - - - - */
span.utUCSmall {
    @include titleStyle;
    font-size: 10px;
}

.orgHeaderStatus {
    box-shadow: 0 0 15px rgba($brandColorDark, 0.6);
    background-color: $brandColorDark;
    color: $brandColorPrimary;
    & .atmStatus {
        letter-spacing: 0.07em;
        font-weight: bold;
    }
    & .utUCSmall {
        color: $brandColorSecondary;
    }
}

.orgMainJSON { //change this name
    box-shadow: 0 0 15px rgba($brandColorDark, 0.3);
    & .molBlockJSON {
        background-color: rgba(255,255,255,0.2);
        font-size: 12px;
    }
    .orgBlockData {
        height: 120px;
        & .molBlockData {
            background-color: $brandColorSecondary;
            & .utUnit {
                @include titleStyle;
                font-size: 12px;
                display: block;
                margin-bottom: 5px;
            }
            & .utNum {
                display: block;
                //font-size: 48px;
            }
        }
    }
    & .molBlockBread {
        border-bottom: 1px solid $brandColorDark;
        font-size: 0.75rem;
        font-family: $brandFontSemi;
        color: $brandColorSecondary;
    }
    & .molBlockUpload {
        color: $brandColorDark;
        background-color: rgba(0,0,0,0.03);
        & .atmBlockUpload {
            border: 1px solid $brandColorPrimary;
            border-radius: $brandBorderRadius;
            background: repeating-linear-gradient(
                135deg,
                rgba(0,0,0,0),
                rgba(0,0,0,0) 10px,
                rgba(0,0,0,0.03) 10px,
                rgba(0,0,0,0.03) 20px
            );
        }
    }
    & p {
        margin: 0;
    }
    .orgContainersGrid {
        & button[class^="molContainersButton"] {
            cursor: default;
            border: none;
            background-color: rgba($brandColorSecondary, 0.02);
            border: 1px solid $brandColorWhite;
            &:hover {
                background-color: rgba($brandColorSecondary, 0.04);
                border: 1px solid $brandColorPrimary;
            }
            & .atmContainerName {
                color: $brandColorSecondary-dark;
                font-size: 0.75rem;
                font-family: $brandFontSemi;
                cursor: pointer;
            }
            & i {
                color: $brandColorPrimary;
            }
        }
        & .molContainersButtonGrid {
            text-align: center;
            & .atmButtonOptions {
                background-color: rgba($brandColorSecondary, 0.05);
                &:hover {
                    cursor: pointer;
                    background-color: rgba($brandColorSecondary, 0.1);
                }
            }
        }
        & .molContainersButtonRow {
            & i {
                color: $brandColorPrimary;
            }
        }
    }
}

.orgFooterAction {
    background-color: rgba(255,255,255,0.5);
}

/* Styles: Typography
- - - - - - - - - - - - - - - - - - */
h2 {
    &.atmTitle {
        @include titleStyle;
        font-size: 13px;
        border-bottom: 1px solid black; // variable
        padding-bottom: 5px; // variable
        margin-bottom: 10px; // variable
    }
    &.atmContainerTitle {
        @include titleStyle;
        font-size: 1.4rem;
        color: $brandColorSecondary-dark;
    }
}

h4 {
    &.atmContainerTitle {
        @include titleStyle;
        font-size: 0.9rem;
        color: $brandColorSecondary-dark;
    }
}
// if I wanted to use .utUC with this, should I extend?