/* Variables: Fonts
- - - - - - - - - - - - - - - - - - */
// Myfonts.com - use the 'Webfont Kit Download' configuration
@import url("https://hello.myfonts.net/count/3e7d84");

@font-face {
    font-family: 'AvertaStdPE-Regular';
    src: url('fonts/AvertaStdPERegular/font.woff2') format('woff2'), url('fonts/AvertaStdPERegular/font.woff') format('woff');
}
@font-face {
    font-family: 'AvertaStdPE-Semibold';
    src: url('fonts/AvertaStdPESemibold/font.woff2') format('woff2'), url('fonts/AvertaStdPESemibold/font.woff') format('woff');
}
@font-face {
    font-family: 'AvertaStdPE-Bold';
    src: url('fonts/AvertaStdPEBold/font.woff2') format('woff2'), url('fonts/AvertaStdPEBold/font.woff') format('woff');
}

$brandFontReg: 'AvertaStdPE-Regular', Arial, Helvetica, sans-serif;
$brandFontSemi: 'AvertaStdPE-Semibold', Arial, Helvetica, sans-serif;
$brandFontBold: 'AvertaStdPE-Bold', Arial, Helvetica, sans-serif;

/* Variables: Font Sizes
- - - - - - - - - - - - - - - - - - */
/* Body font size. By default 16px, based on 16px as 'root em' */
$brandFontSize: 1rem;

/* Major second scale progression - see https://type-scale.com/ */
$brandHeaderScale: 1.125;

/* Line height is set to the "Golden ratio" for optimal legibility */
$brandLineHeight: 1.618;

body {
    font-family: $brandFontReg;
    line-height: $brandLineHeight;
}

h1, h2, h4, h4, h5, h6 {
    font-family: $brandFontBold;
}

h1 {
    font-size: $brandFontSize * $brandHeaderScale * $brandHeaderScale * $brandHeaderScale * $brandHeaderScale;
    //margin-bottom: $brandLineHeight * 1.5rem;
}

h2 {
    font-size: $brandFontSize * $brandHeaderScale * $brandHeaderScale * $brandHeaderScale;
    //margin-bottom: $brandLineHeight * 1.5rem;
}

h3 {
    font-size: $brandFontSize * $brandHeaderScale * $brandHeaderScale;
    //margin-bottom: $brandLineHeight * 1.5rem;
}

h4 {
    font-size: $brandFontSize * $brandHeaderScale;
    //margin-bottom: $brandLineHeight * 1.5rem;
}

h5 {
    font-size: $brandFontSize;
    //margin-bottom: $brandLineHeight * 1.5rem;
}

h6 {
    font-size: calc($brandFontSize / $brandHeaderScale);
    //margin-bottom: $brandLineHeight * 1.5rem;
}


/* Variables: Color
- - - - - - - - - - - - - - - - - - */
$brandColorPrimary: #00e599;
$brandColorSecondary: #00af92;
$brandColorSecondary-dark: darken($brandColorSecondary, 15%);
$brandColorWhite: #fff;
$brandColorBlack: #000; // Change to a very dark green
$brandColorDark: #2b393f;
$brandColorLight: #f0f5f6;

$toastColorSuccess: #00ad4b;
$toastColorError: #E5004C;
$toastColorWarning: #F47A00;
$toastColorInfo: #0080F4;
$toastColorBody: $brandColorDark;


/* Variables: General
- - - - - - - - - - - - - - - - - - */
$brandLetterSpacing: 0.2rem;
$brandBorderRadius: 5px;
$brandTransitionSpeed: 0.3s;
$brandDarkenValue: 12%;
$brandBoxShadow: 0 0 10px rgba(0,0,0,0.3);


/* Base: Buttons
- - - - - - - - - - - - - - - - - - */
button {
    transition: $brandTransitionSpeed;
    border: none;
    font-family: $brandFontBold;
    border-radius: none;
}


/* Mixins
- - - - - - - - - - - - - - - - - - */
@mixin upperCase {
    text-transform: uppercase; 
    font-family: $brandFontBold;
    letter-spacing: $brandLetterSpacing;
}

@mixin titleStyle($titlesize) {
    font-size: $titlesize;
    text-transform: uppercase; 
    font-family: $brandFontBold;
    letter-spacing: $brandLetterSpacing;
}

@mixin ButtonIconSimple($iconSimpleFontSize, $iconSimpleColor) {
    font-size: $iconSimpleFontSize;
    color: $iconSimpleColor;
    cursor: pointer;
    background: transparent;
}

@mixin buttonIconFill($iconFillFontSize, $iconFillBorderRadius, $iconFillBgColor) {
    font-size: $iconFillFontSize;
    border-radius: $iconFillBorderRadius;
    background-color: $iconFillBgColor;
    cursor: pointer;
}


/* Animation
- - - - - - - - - - - - - - - - - - */
@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}