@import "./greenfinch-variables.scss";





/* Styles: Base
- - - - - - - - - - - - - - - - - - */
body {
    font-family: $brandFontReg;
    background-color: $brandColorLight;
}

/* Elements: Buttons
- - - - - - - - - - - - - - - - - - */

// cover off all, buttons for all states, active/inactive, activated/live/ready (better name needed), becomes a mixin???
// Make mixin
button[class^="atmButton"] {
    transition: $brandTransitionSpeed;
    border: none;
    font-family: $brandFontBold;
    border-radius: none;
}

// Make mixin
.atmButtonBase {
    transition: $brandTransitionSpeed;
    border-radius: none;
    background: none;
    &.nav-link {
        font-family: $brandFontSemi;
        text-align: left;
        border-radius: none;
        background-color: rgba(0,0,0,0);
        border-bottom: 1px solid rgba($brandColorDark, 0.3);
        color: $brandColorSecondary;
        &:hover {
            cursor: pointer;
            color: $brandColorDark;
            background-color: rgba(0,0,0,0.05);
        }
        &:last-child {
            border-bottom: none;
        }
    }
}



.atmButtonText {
    color: $brandColorDark;
    background: none;
    &:hover {
        text-decoration: underline;
    }
}



.molModalBody {
    & .atmButtonText {
        font-size: 0.8rem;
    }
}

/* Element: Tabs
- - - - - - - - - - - - - - - - - - */
.orgTabsView {
    & ul.nav-tabs {
        border: unset;
        & li.nav-item {
            & button.nav-link {
                @include titleStyle(1.1rem);
                transition: $brandTransitionSpeed;
                color: $brandColorWhite; 
                border: none;
                border-radius: 0;
                background-color: lighten($brandColorDark, 72%);
                &:hover {
                    background-color: lighten($brandColorDark, 60%);
                }
                &.active {
                    color: $brandColorPrimary; 
                    border-top-left-radius: 0;
                    border-top-left-radius: 0;
                    cursor: default;
                    background-color: rgba(255,255,255,0.8);
                }
            }
        }
    }
    & .orgViewJSON, .orgViewVisual {
        background-color: rgba(255,255,255,0.8);
    }
}

/* #uncontrolled-tab-example-tab-encrypt {
    color: black!important;
} */

/* #uncontrolled-tab-example-tab-decrypt {
    color: black!important;
} */


/* Element: Toggle switch
- - - - - - - - - - - - - - - - - - */
.switch input { 
    opacity: 0;
}

.slider {
    cursor: pointer;
    background-color: $brandColorDark;
    transition: $brandTransitionSpeed;
    &:before {
        background-color: $brandColorWhite;
        transition: $brandTransitionSpeed;
    }
    &.round {
        border-radius: 34px;
        &:before {
            border-radius: 50%;
        }
    }
}

input:checked + .slider {
    background-color: $brandColorPrimary;
}

/* input:focus + .slider {
    box-shadow: 0 0 1px $brandColorDark;
} */

/* Component: Modal
- - - - - - - - - - - - - - - - - - */
// Need to sort modal widths (as per Bootstrap)
.orgModal {
    & .molModalWrapper {
        background: rgba(0,0,0, 0.6);
        border: none;
        cursor: default;
    } 
    & .molModalContainer {
        border-radius: 5px;
        border: 1px solid rgba($brandColorDark, 0.1);
        background-color: #ffffff;
        box-shadow: 0px 20px 32px -8px rgba(0,0,0, 0.25);
        & .modal__close-btn {
            background: transparent;
            border: none;
            cursor: pointer;
            & i {
                transition: $brandTransitionSpeed;
                color: $brandColorDark;
                opacity: 0.2;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }   
}

.molModalHeader {
    background-color: darken($brandColorLight,0.2);
    & h2 {
        @include titleStyle(1rem);
        color: $brandColorDark;
    }
}

.molModalBody {
    & h3 {
        color: $brandColorDark;
        font-size: 1.6rem;
        font-family: $brandFontBold;
    }
    & h4 {
        color: $brandColorDark;
        font-size: 1.3rem;
        font-family: $brandFontSemi;
    }
    & .form-label {
        color: $brandColorDark;
        font-family: $brandFontSemi;
        font-size: 0.9rem;
    }
    & .form-text {
        color: $brandColorDark;
        font-family: $brandFontReg;
        font-size: 0.7rem;
    }
}

.molModalFooter {
    background-color: $brandColorLight;
}

.orgModalBrand {
    & p {
        font-size: 1.2rem;
        font-family: $brandFontSemi;
    }
}


/* Styles: Folders
- - - - - - - - - - - - - - - - - - */
.folder-icon { //Update classes
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-top: 4px solid #96DCFD;
    &:before {
        content: '';
        border-radius: 5px 10px 0 0;
    }
}

.neo.folder-icon { //Update classes
    background: linear-gradient(180deg, $brandColorSecondary 0%, $brandColorPrimary 76%, $brandColorSecondary 100%);
    border-top: 4px solid #00E599;
    &:before {
        background-color: #00E599;
    }
}

/* Styles: File icons
- - - - - - - - - - - - - - - - - - */
.file-icon {
    background: linear-gradient(180deg, $brandColorSecondary 0%, $brandColorPrimary 76%, $brandColorSecondary 100%);
    border-radius: 2px;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    font-family: $brandFontSemi;
    &:before {
        border-bottom-left-radius: 2px;
        border-width: 5px;
        border-style: solid;
        border-color: #fff #fff rgba(255,255,255,0.35) rgba(255,255,255,0.35);
    }
    &:after {
        font-size: 0.9rem;
        color: $brandColorWhite;
        text-transform: lowercase;
        white-space: nowrap;
        overflow: hidden;
    }
}

.file-icon-lg {
    border-radius: 3px;
    &:before {
        border-bottom-left-radius: 2px;
        border-width: 8px;
    }
    &:after {
        font-size: 0.8rem;
    }
}

.file-icon-xl {
    border-radius: 4px;
    &:before {
        border-bottom-left-radius: 4px;
        border-width: 16px;
    }
    &:after {
        font-size: 0.9rem;
    }
}

/* Styles: General
- - - - - - - - - - - - - - - - - - */
span.utUCSmall {
    @include titleStyle (0.7rem);
}

.orgHeaderStatus {
    box-shadow: 0 0 15px rgba($brandColorDark, 0.6);
    background-color: $brandColorDark;
    color: $brandColorPrimary;
    & .atmStatus {
        font-size: 0.9rem;
        letter-spacing: 0.07em;
        font-family: $brandFontSemi;
        &:last-child {
            text-align: right;
        }
    }
    & .utUCSmall {
        color: $brandColorSecondary;
    }
}

.orgMainJSON { //change this name
    background-color: $brandColorWhite;
    box-shadow: 0 0 15px rgba($brandColorDark, 0.3);
    & .molBlockJSON {
        background-color: rgba(255,255,255,0.2);
        font-size: 0.8rem;
    }
    .orgBlockData {
        height: 120px;
        & .molBlockData {
            background-color: $brandColorSecondary;
            & .utUnit {
                @include titleStyle(0.9rem);
                display: block;
                margin-bottom: 5px;
            }
            & .utNum {
                display: block;
            }
        }
    }
    & .molBlockBread {
        border-bottom: 1px solid $brandColorDark;
        font-size: 0.75rem;
        font-family: $brandFontSemi;
        color: $brandColorSecondary;
        & span.atmBreadCrumb, & span.utBreadLive {
            transition: $brandTransitionSpeed;
            &:hover {
                color: $brandColorDark;
                text-decoration: underline;
                cursor: pointer;
            }
        }
        & .atmBlockBread i {
            color: $brandColorDark;
            &.fa-home {
                cursor: default;
            }
        }
    }
    & .molBlockUpload {
        color: $brandColorDark;
        background-color: lighten($brandColorDark, 75%);
        & .atmBlockUpload {
            border-radius: $brandBorderRadius;
            & p, p .atmButtonText {
                font-size: 0.8rem;
            }
            // border: 1px solid $brandColorPrimary;
            /* background: repeating-linear-gradient(
                135deg,
                rgba(0,0,0,0),
                rgba(0,0,0,0) 10px,
                rgba(0,0,0,0.03) 10px,
                rgba(0,0,0,0.03) 20px
            ); */
        }
    }
    & p {
        margin: 0;
    }
    .orgContainersGrid {
        & .molButtonGrid {
            background-color: rgba($brandColorSecondary, 0.03);
            border: 1px solid $brandColorWhite;
            &:hover {
                background-color: rgba($brandColorSecondary, 0.05);
                border: 1px solid $brandColorPrimary;
            }
            & .atmButtonGridHeader {
                border-radius: 0;
                background: none;
                & .atmButtonOptions {
                    border-radius: 0;
                    background-color: rgba($brandColorSecondary, 0.04);
                    &:hover {
                        cursor: pointer;
                        background-color: rgba($brandColorSecondary, 0.1);
                    }
                }
                &:hover {
                    cursor: default;
                }
            }
            & .atmButtonGridContent {
                border-radius: 0;
                background: none;
                &:hover {
                    cursor: default;
                }
                & .atmButtonGridName {
                    color: $brandColorSecondary-dark;
                    font-size: 0.75rem;
                    font-family: $brandFontSemi;
                    &:hover {
                        cursor: pointer;
                    }
                }
                & i {
                    color: $brandColorPrimary;
                }
            }
            & .utOverlayMenuSmall {
                background-color: $brandColorWhite;
                box-shadow: $brandBoxShadow;
                font-size: 0.9rem;
                text-align: left;
                color: $brandColorDark;
            } 
        }
        & .molButtonRow {
            background-color: rgba($brandColorSecondary, 0.03);
            border: 1px solid $brandColorWhite;
            &:hover {
                background-color: rgba($brandColorSecondary, 0.05);
                border: 1px solid $brandColorPrimary;
            }
            & .atmButtonRowContent {
                border-radius: 0;
                background: none;
                &:hover {
                    cursor: default;
                }
                & i {
                    color: $brandColorPrimary;
                }
                & .atmButtonRowName {
                    font-family: $brandFontSemi;
                    color: $brandColorSecondary-dark;
                    font-size: 0.75rem;
                    &:hover {
                        cursor: pointer;
                    }
                }   
            }
            & .atmRowList {
                font-family: $brandFontSemi;
                color: $brandColorDark;
                font-size: 0.7rem;
            }
            & .utOverlayMenuSmall {
                background-color: $brandColorWhite;
                box-shadow: $brandBoxShadow;
                font-size: 0.9rem;
                text-align: left;
                color: $brandColorDark;
            } // add dots here
            & .atmButtonOptions {
                border-radius: 0;
                background-color: rgba($brandColorSecondary, 0.04);
                &:hover {
                    cursor: pointer;
                    background-color: rgba($brandColorSecondary, 0.1);
                }
            }
        }
        & .atmStatusSmall {
            color: $brandColorDark;
            font-size: 0.8rem;
            font-family: $brandFontSemi;
        }
    }
}

.orgFooterAction {
    box-shadow: 0 0 15px rgba($brandColorDark, 0.3);
    background-color: rgba(255, 255, 255, 0.8);
}

/* Styles: Offcanvas Right
- - - - - - - - - - - - - - - - - - */
#offcanvasRight {
    background-color: $brandColorLight;
    .atmSwitchContent p {
        font-family: $brandFontReg;
        color: $brandColorDark;
        font-size: 0.8rem;
        line-height: 1.25;
    }
    & h4 {
        @include titleStyle(0.9rem);
        color: $brandColorSecondary-dark;
    }
    & .atmButtonIconClean i {
        color: $brandColorSecondary-dark;
    }
}


/* Styles: Typography
- - - - - - - - - - - - - - - - - - */
.utLoading {
    font-size: 0.8rem;
    font-family: $brandFontSemi;
    color: $brandColorDark;
}

h2 {
    &.atmTitle {
        @include titleStyle(0.9rem);
        border-bottom: 1px solid black; // variable
        padding-bottom: 5px; // variable
        margin-bottom: 10px; // variable
    }
    &.atmContainerTitle {
        @include titleStyle(1.4rem);
        color: $brandColorSecondary-dark;
    }
}

h4 {
    &.atmContainerTitle {
        @include titleStyle(0.9rem);
        color: $brandColorSecondary-dark;
    }
}

span {
    &.atmContainerTitle {
        @include titleStyle(0.9rem);
        color: $brandColorSecondary-dark;
    }
}
// if I wanted to use .utUC with this, should I extend?
