@import "./greenfinch-variables.scss";

/* Elements: Buttons
- - - - - - - - - - - - - - - - - - */
// Make mixin
.atmButtonBase {
    transition: $brandTransitionSpeed;
    border-radius: none;
    background: transparent;
    &.nav-link {
        font-family: $brandFontSemi;
        text-align: left;
        border-radius: none;
        background-color: rgba(0,0,0,0);
        border-bottom: 1px solid rgba($brandColorDark, 0.3);
        color: $brandColorSecondary;
        &:hover {
            cursor: pointer;
            color: $brandColorDark;
            background-color: rgba(0,0,0,0.05);
        }
        &:last-child {
            border-bottom: none;
        }
    }
}
.atmButtonText {
    color: $brandColorDark;
    background: none;
    &:hover {
        text-decoration: underline;
    }
}

/* Element: Tabs
- - - - - - - - - - - - - - - - - - */
.orgTabsView {
    & ul.nav-tabs {
        border: unset;
        & li.nav-item {
            & button.nav-link {
                @include titleStyle(1.1rem);
                transition: $brandTransitionSpeed;
                color: $brandColorWhite; 
                border: none;
                border-radius: 0;
                background-color: lighten($brandColorDark, 72%);
                &:hover {
                    background-color: lighten($brandColorDark, 60%);
                }
                &.active {
                    color: $brandColorPrimary; 
                    border-top-left-radius: 0;
                    border-top-left-radius: 0;
                    cursor: default;
                    background-color: rgba(255,255,255,0.8);
                }
            }
        }
    }
}

/* Styles: General
- - - - - - - - - - - - - - - - - - */
.orgMainJSON { //change this name
    background-color: $brandColorWhite;
    box-shadow: 0 0 15px rgba($brandColorDark, 0.3);
    & .molBlockJSON {
        background-color: rgba(255,255,255,0.2);
        font-size: 0.8rem;
    }
    .orgBlockData {
        height: 120px;
        & .molBlockData {
            background-color: $brandColorSecondary;
            & .utUnit {
                @include titleStyle(0.9rem);
                display: block;
                margin-bottom: 5px;
            }
            & .utNum {
                display: block;
            }
        }
    }
    & .molBlockUpload {
        color: $brandColorDark;
        background-color: lighten($brandColorDark, 75%);
        & .atmBlockUpload {
            border-radius: $brandBorderRadius;
            & p, p .atmButtonText {
                font-size: 0.8rem;
            }
            // border: 1px solid $brandColorPrimary;
            /* background: repeating-linear-gradient(
                135deg,
                rgba(0,0,0,0),
                rgba(0,0,0,0) 10px,
                rgba(0,0,0,0.03) 10px,
                rgba(0,0,0,0.03) 20px
            ); */
        }
    }
    & p {
        margin: 0;
    }
}

.atmStatusSmall {
    color: $brandColorDark;
    font-size: 0.8rem;
    font-family: $brandFontSemi;
}

/* Styles: Typography
- - - - - - - - - - - - - - - - - - */
h2 {
    &.atmTitle {
        @include titleStyle(0.9rem);
        border-bottom: 1px solid black; // variable
        padding-bottom: 5px; // variable
        margin-bottom: 10px; // variable
    }
    &.atmContainerTitle {
        @include titleStyle(1.4rem);
        color: $brandColorSecondary-dark;
    }
}

h4 {
    &.atmContainerTitle {
        @include titleStyle(0.9rem);
        color: $brandColorSecondary-dark;
    }
}

span {
    &.atmContainerTitle {
        @include titleStyle(0.9rem);
        color: $brandColorSecondary-dark;
    }
}
// if I wanted to use .utUC with this, should I extend?
