@import "../../../assets/dashboard-variables.scss";
@import "../../../assets/greenfinch-variables.scss";

.atmContentCheckbox {
    height: $CardContentProportion;
    width: $CardContentProportion;
    background-color: rgba($brandColorSecondary, 0.05);
    & .form-check {
        padding: 0;
        margin: 0;
        & .form-check-input {
            float: unset;
            margin-left: 0;
        }
    }
}