@import "../../../assets/dashboard-variables.scss";
@import "../../../assets/greenfinch-variables.scss";

.atmInDevelopment {
    text-align: center;
    width: 100%;
    padding: $paddingSmall;
    font-size: 1.1rem;
    background-color: rgba(0,0,0,0.05);
    font-family: $brandFontBold;
    & i {
        margin: $marginXSmall 0;
    }
}