@import "../../../assets/dashboard-variables.scss";
@import "../../../assets/greenfinch-variables.scss";

.rowAddress {
    background-color: rgba(0,0,0,0.05);
    padding: $paddingXSmall;
    margin-bottom: $marginXSmall;
}