@import "../../../../assets/greenfinch-variables.scss";

@import "./dot-flashing.scss";
@import "./dot-spin.scss";

.atmSpinnerWrapper {
    position: relative;
    padding: 32px 5%;
    &.small {
        font-size: 0.8rem;
    }
    &.medium {
        font-size: 1.2rem;
    }
    &.large {
        font-size: 1.6rem;
    }
    .atmSpinnerInner {
        position: relative;
        padding: 32px 0;
        margin: 5px -5%;
        overflow: hidden;
        font-size: 0.8rem;
    }
    & .atmSpinnerText {
        font-family: $brandFontSemi;
        padding: $paddingXSmall $paddingSmall;
        color: $brandColorLight;
    }
}

// Three Dots: https://github.com/nzbin/three-dots

// We need to work out a way tht brings in everything here, overrides what is required by the other files
// e.g. $dot-color