@import "../../../../assets/greenfinch-variables.scss";

@import "./dot-flashing.scss";
@import "./dot-spin.scss";

.atmSpinnerLoading {
    font-size: 0.8rem;
    font-family: $brandFontSemi;
    color: $brandColorDark;
    display: block;
    & span {
        margin-left: $marginXSmall;
    }
    &.small {
        font-size: 0.8rem;
    }
    &.medium {
        font-size: 1rem;
    }
    &.medium {
        font-size: 1.2rem;
    }
}

// Three Dots: https://github.com/nzbin/three-dots

// We need to work out a way tht brings in everything here, overrides what is required by the other files
// e.g. $dot-color