@import "../../../assets/dashboard-variables.scss";
@import "../../../assets/greenfinch-variables.scss";

header {
    display: block;
    width: 100%;
    height: $heightHeader;
    background-color: $brandColorDark;
    color: $brandColorPrimary;
    //border-bottom: 3px solid darken($brandColorDark, 5%);
    & .header-content {
        padding: $paddingSmall;
    }
    & .atmStatus {
        margin-right: $marginSmall;
        font-size: 0.9rem;
        letter-spacing: 0.07em;
        font-family: $brandFontSemi;
        &:last-child {
            text-align: right;
        }
    }
}

// TO SORT
.orgHeaderStatus {
    & .utUCSmall {
        @include titleStyle (0.7rem);
        color: $brandColorSecondary;
    }
}

.utTemp {
    color: rgba($brandColorPrimary, 0.3);
}