@import "../../../assets/greenfinch-variables.scss";

.atmIconFile {
    position: relative;
    margin-bottom: 4px;
    background: linear-gradient(180deg, $brandColorSecondary 0%, $brandColorPrimary 76%, $brandColorSecondary 100%);
    text-align: right;
    -webkit-font-smoothing: antialiased;
    font-family: $brandFontBold;
    &:before {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-bottom-left-radius: 2px;
        border-width: 5px;
        border-style: solid;
        border-color: #fff #fff rgba(255,255,255,0.35) rgba(255,255,255,0.35);
    }
    &:after {
        display: block;
        content: attr(data-type);
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        font-size: 0.9rem;
        color: rgba($brandColorWhite, 0.8);
        text-transform: lowercase;
        white-space: nowrap;
        overflow: hidden;
    }
    &.small {
        width: 21px;
        height: 28px;
        border-radius: 3px;
        margin-bottom: 0;
        &:before {
            border-bottom-left-radius: 2px;
            border-width: 4px;
        }
        &:after {
            content: none;
            padding: 2px;
            font-size: 0.7rem;
        }
    }
    &.medium {
        width: 72px;
        height: 96px;
        border-radius: 5px;
        &:before {
            border-bottom-left-radius: 4px;
            border-width: 12px;
        }
        &:after {
            padding: 5px 10px;
            font-size: 1.2rem;
        }
    }
    &.large {
        width: 96px;
        height: 128px;
        border-radius: 5px;
        &:before {
            border-bottom-left-radius: 5px;
            border-width: 16px;
        }
        &:after {
            padding: 5px 10px;
            font-size: 1rem;
        }
    }
}