@import "../../../assets/dashboard-variables.scss";
@import "../../../assets/greenfinch-variables.scss";

.templateShell {
    height: calc(100vh - $heightHeader);
}

.templatePage {
    background-color: $brandColorLight;
    height: calc(100% - $heightFooter);
}
 
.templateWrapper {
    height: calc(100vh - $heightHeader - $heightPageHeader - $heightFooter - $marginMedium);
    overflow-y: scroll !important;
    margin-right: $marginSmall; // To allow for scroll-bar width
    & .templateInner {
        padding: $paddingSmall;
        padding-top: $paddingMedium;
        margin: 0 $marginSmall;
    }
}

.containerWrapper {
    height: calc(100vh - $heightHeader - $heightPageHeader - $heightFooter - $marginMedium - 40px);
    overflow-y: scroll !important;
    margin-right: $marginSmall; // To allow for scroll-bar width
    & .containerInner {
        padding: 0 $paddingSmall;
        margin: 0 $marginSmall;
    }
}

.optionsWrapper {
    height: 40px;
    & .optionsInner {
        //background-color: purple;
        margin: 0 $marginSmall;
    }
}


.container-data, .object-data {
    & h6 {
        font-size: 0.65rem;
    } 
    & span {
        font-size: 0.85rem;
        margin-bottom: 10px;
        font-family: $brandFontSemi;
        max-width: 280px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.object-data {
    margin-top: $marginLarge;
}

ol.home-ol {
    margin-top: $marginSmall;
    margin-left: $marginLarge;
    & li {
        font-family: $brandFontSemi;
        margin-bottom: 5px;
        & button {
            font-family: $brandFontSemi;
            transition: $brandTransitionSpeed;
            background-color: rgba(0,0,0,0);
            padding: 0;
            color: $brandColorDark;
            text-decoration: underline;
            &:hover {
                cursor: pointer;
                color: $brandColorSecondary;
            }
        }
    }
}

.home-sm {
    font-family: $brandFontSemi;
    font-size: 0.8rem;
    line-height: 1.2;
}

.instruction {
    font-family: $brandFontSemi;
    font-size: 1.1rem;
    line-height: 1.3;
}