@import "../../../assets/dashboard-variables.scss";
@import "../../../assets/greenfinch-variables.scss";

.templateShell {
    padding-top: $heightHeader;
    height: 100vh;
}

.templatePage {
    background-color: $brandColorLight;
    padding: $paddingMedium;
    height: calc(100% - $heightFooter);
}

.templateWrapper {
    height: calc(100vh - $heightHeader - $heightPageHeader - $heightFooter - 80px);
    // margin-right: $marginMedium; // To allow for scroll-bar width
    overflow-y: scroll;
}

.templateInner {
    margin: 0 $marginSmall;
    margin-bottom: $marginSmall;
}

.containerOptions {
    margin-right: $marginMedium;
    margin-bottom: $marginMedium;
}

.container-data, .object-data {
    & h6 {
        font-size: 0.65rem;
    } 
    & span {
        font-size: 0.85rem;
        margin-bottom: 10px;
        font-family: $brandFontSemi;
        //max-width: 180px;
        //white-space: nowrap;
        //overflow: hidden;
        //text-overflow: ellipsis;
    }
}

ol.home-ol {
    margin-top: $marginSmall;
    margin-left: $marginLarge;
    & li {
        font-family: $brandFontSemi;
        margin-bottom: 5px;
        & button {
            font-family: $brandFontSemi;
            transition: $brandTransitionSpeed;
            background-color: rgba(0,0,0,0);
            padding: 0;
            color: $brandColorDark;
            text-decoration: underline;
            &:hover {
                cursor: pointer;
                color: $brandColorSecondary;
            }
        }
    }
}

.home-sm {
    font-size: 0.8rem;
    line-height: 1.2;
    font-family: $brandFontSemi;
}

.atmObjectThumbnail {
    margin: 8px auto 24px;
    & img {
        border: 1px solid $brandColorDark-hint;
    }
}

// Button Stack - Horizontal (start left)
div[class^="buttonStackHorizontal"], div[class^="buttonStackHorizontal"].me-auto {
    & button {
        margin-right: $marginSmall;
        &:first-child {
            margin-left: 0;
            margin-right: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

// Button Stack - Horizontal (start right)
 div[class^="buttonStackHorizontal"].ms-auto {
    & button {
        margin-left: $marginSmall;
        &:last-child {
            margin-left: 0;
        }
    }
}

// Button Stack - Horizontal, including line-break
.buttonStackHorizontalHR {
    width: 100%;
    padding-bottom: $paddingSmall;
    margin-bottom: $marginSmall;
    border-bottom: 1px solid $brandColorDark-hint;
}

// Button Stack - Vertical
div[class^="buttonStackVertical"] {
    & button {
        display: block;
        margin-bottom: $marginXSmall;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

// Button Stack - Vertical, including line-break
.buttonStackVerticalHR {
    padding-bottom: $paddingSmall;
    margin-bottom: $marginSmall;
    border-bottom: 1px solid $brandColorDark-hint;
}