@import "../../../assets/greenfinch-variables.scss";

.templateShell {
    padding-top: $heightHeader;
    height: 100vh;
}

.templatePage {
    background-color: $brandColorLight;
    padding: $paddingMedium;
    height: calc(100% - $heightFooter);
}

.templatePage > .row > .col-12 {
    max-width: $maxDisplay;
    margin: 0 auto;
}

.templateWrapper {
    height: calc(100vh - $heightHeader - $heightPageHeader - $heightFooter - 80px);
    // margin-right: $marginMedium; // To allow for scroll-bar width
    overflow-y: scroll;
}

.templateInner {
    margin: 0 $marginSmall;
    margin-bottom: $marginSmall;
}

.containerOptions {
    margin-right: $marginMedium;
    margin-bottom: $marginMedium;
}

.container-data, .object-data {
    & h6 {
        font-size: 0.65rem;
    } 
    & span {
        font-size: 0.85rem;
        margin-bottom: 10px;
        font-family: $brandFontSemi;
        &.atmContentTitle {
            font-size: 1rem;
        }
    }
}

ol.home-ol {
    margin-top: $marginSmall;
    margin-left: $marginLarge;
    & li {
        font-family: $brandFontSemi;
        margin-bottom: 5px;
        & button {
            font-family: $brandFontSemi;
            transition: $brandTransitionSpeed;
            background-color: rgba(0,0,0,0);
            padding: 0;
            color: $brandColorDark;
            text-decoration: underline;
            &:hover {
                cursor: pointer;
                color: $brandColorSecondary;
            }
        }
    }
}

.home-sm {
    font-size: 0.8rem;
    line-height: 1.2;
    font-family: $brandFontSemi;
}

.atmObjectThumbnail {
    margin: 8px auto 24px;
    & img {
        border: 1px solid $brandColorDark-hint;
    }
}

// Button Stack - Horizontal
.buttonStackHorizontal {
    width: 100%;
    padding-bottom: $paddingSmall;
    margin-bottom: $marginSmall;
    border-bottom: 1px solid $brandColorDark-hint;
    &.me-auto { // Start left
        & button {
            margin-right: $marginSmall;
            &:first-child {
                margin-left: 0;
                margin-right: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &.ms-auto { // Start right
        & button {
            margin-left: $marginSmall;
            &:last-child {
                margin-left: 0;
            }
        }
    }
    &:last-child, &:only-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
    }
}

// Button Stack - Vertical
.buttonStackVertical {
    padding-bottom: $paddingSmall;
    margin-bottom: $marginSmall;
    border-bottom: 1px solid $brandColorDark-hint;
    & button {
        display: block;
        margin-bottom: $marginXSmall;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &:last-child, &:only-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
    }
}

.atmWalletDonation {
    color: $brandColorDark;
    font-size: 0.9rem;
    font-family: $brandFontBold;
    & i {
        color: $brandColorDark;
        margin-right: $marginXSmall;
    }
}