@import "../../../assets/greenfinch-variables.scss";

/* Toast Types
- - - - - - - - - - - - - - - - - - */
.molToast {
    & .toastWrapper {
        &.success {
            background-color: $toastColorSuccess;
            & span.toastTitle {
                color: $toastColorSuccess;
            }
        }
        &.error {
            background-color: $toastColorError;
            & span.toastTitle  {
                color: $toastColorError;
            }
        }
        &.warning {
            background-color: $toastColorWarning;
            & span.toastTitle  {
                color: $toastColorWarning;
            }
        }
        &.info {
            background-color: $toastColorInfo;
            & span.toastTitle  {
                color: $toastColorInfo;
            }
        }
    }
}

/* Component: Toast
- - - - - - - - - - - - - - - - - - */
.toastColumn {
    position: fixed;
    width: 500px;
    right: 20px;
    top: 40px;
    z-index: 500000;
}

.molToast {
    & .toastWrapper {
        position: relative;
        margin: 0 auto;
        margin-bottom: $marginSmall;
        width: 500px;
        min-height: 70px;
        font-family: $brandFontSemi;
        background: $brandColorWhite;
        box-shadow: $brandBoxShadow;
        & .toastInner {
            min-height: 70px;
            width: 100%;
            & .toastIcon {
                min-height: 70px;
                width: 60px;
                & i {
                    font-size: 1.6rem;
                    color: rgba(255,255,255,0.5);
                }
            }
            & .toastContent {
                min-height: 70px;
                width: 100%;
                padding: $paddingSmall;
                background-color: $brandColorWhite;
                & span.toastTitle {
                    margin-bottom: 7px;
                    letter-spacing: $brandLetterSpacing;
                    font-size: 0.8rem;
                    line-height: 1.2;
                    text-transform: uppercase;
                    font-family: $brandFontBold;
                }
                & span.toastDesc {
                    color: $toastColorBody;
                    font-size: 0.8rem;
                    line-height: 1.2;
                    font-family: $brandFontSemi;
                }
            }
        }
    }
}

.molToast {
    & .toastWrapper.copy  {
        position: relative;
        margin: unset;
        margin-bottom: $marginSmall;
        width: 300px;
        min-height: 30px;
        font-family: $brandFontSemi;
        border-left: 7px solid darken($brandColorDark,10%);
        box-shadow: $brandBoxShadow;
        & .toastInner {
            min-height: 30px;
            & .toastContent {
                min-height: 30px;
                padding-left: 10px;
                background-color: $brandColorDark;
                & span.toastDesc {
                    font-size: 1rem;
                    font-family: $brandFontBold;
                    color: $brandColorWhite;
                }
            }
        }
    }
}