@import "../../../../assets/dashboard-variables.scss";
@import "../../../../assets/greenfinch-variables.scss";

.offcanvas-end {
    width: 500px;
}

.offcanvas-header {
    background-color: darken($brandColorLight,4%);
}

.offcanvas-body {
    background-color: $brandColorLight;
}

.molBlockSwitch, .molBlockDropdown {
    margin-bottom: $marginLarge;
}

h4 {
    margin-top: $marginSmall;
    margin-bottom: $marginSmall;
}


#offcanvasRight, #offcanvasLeft {
    .atmSwitchContent p {
        font-family: $brandFontReg;
        color: $brandColorDark;
        font-size: 0.8rem;
        line-height: 1.25;
    }
    & h4 {
        @include titleStyle(0.9rem);
        color: $brandColorSecondary-dark;
    }
    & .atmButtonIconClean i {
        color: $brandColorSecondary-dark;
    }
}

/* Element: Toggle switch (this will become a component?)
- - - - - - - - - - - - - - - - - - */
.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 34px;
    & input { 
        width: 0;
        height: 0;
    }
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
    }
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.atmSwitchContent {
    padding-right: 40px;
}

/* Element: Toggle switch
- - - - - - - - - - - - - - - - - - */
.switch input { 
    opacity: 0;
}

.slider {
    cursor: pointer;
    background-color: $brandColorDark;
    transition: $brandTransitionSpeed;
    &:before {
        background-color: $brandColorWhite;
        transition: $brandTransitionSpeed;
    }
    &.round {
        border-radius: 34px;
        &:before {
            border-radius: 50%;
        }
    }
}

input:checked + .slider {
    background-color: $brandColorPrimary;
}

/* input:focus + .slider {
    box-shadow: 0 0 1px $brandColorDark;
} */
