@import "../../../../assets/dashboard-variables.scss";
@import "../../../../assets/greenfinch-variables.scss";

.offcanvas-start {
    width: 500px;
}

.offcanvas-header {
    background-color: darken($brandColorLight,4%);
}

.offcanvas-body {
    background-color: $brandColorLight;
}

.molBlockSwitch, .molBlockDropdown {
    margin-bottom: $marginMedium;
}

h4 {
    margin-top: $marginSmall;
    margin-bottom: $marginSmall;
}

.button-offcanvas {
    background: none;
}


#offcanvasRight, #offcanvasLeft {
    .atmSwitchContent p {
        font-family: $brandFontReg;
        color: $brandColorDark;
        font-size: 0.8rem;
        line-height: 1.25;
        &.temp-small {
            font-size: 0.7rem;
            line-height: 1.6; 
        }
        & button {
            background: none;
            text-decoration: underline;
            margin: 0;
            padding: 0;
            &:hover {
                color: rgb(0,0,0,);
                cursor: pointer;
            }
        }
    }
    & h4 {
        @include titleStyle(0.9rem);
        color: $brandColorSecondary-dark;
    }
    & .atmButtonIconClean i {
        color: $brandColorSecondary-dark;
    }
}

/* Element: Toggle switch (this will become a component)
- - - - - - - - - - - - - - - - - - */
.atmSwitchContent {
    padding-right: 40px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 26px;
    & input { 
        width: 0;
        height: 0;
    }
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-color: $brandColorDark;
    transition: $brandTransitionSpeed;
    &:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 3px;
        bottom: 3px;
        background-color: $brandColorWhite;
        transition: $brandTransitionSpeed;
    }
    &.round {
        border-radius: 34px;
        &:before {
            border-radius: 50%;
        }
    }
}

.switch input { 
    opacity: 0;
}

.switch input:checked + .slider {
    background-color: $brandColorPrimary;
}

.switch input:checked + .slider:before {
    transform: translateX(20px);
}

/* ,switch input:focus + .slider {
    box-shadow: 0 0 1px $brandColorDark;
} */


/* Element: Dropdown (this will become a component)
- - - - - - - - - - - - - - - - - - */
.atmDropdownContent {
    position: relative;
}

.atmDropdownMenu {
    position: absolute;
    list-style-type: none;
    margin: 5px 0;
    padding: 0;
    border: 1px solid grey;
    width: 150px;
}

.atmDropdownMenu > li {    
    margin: 0;  
    background-color: white;
}

.atmDropdownMenu > li:hover {
    background-color: lightgray;
}

.atmDropdownMenu > li > button {
    width: 100%;
    height: 100%;
    text-align: left;
    background: none;
    color: inherit;
    border: none;
    padding: 5px;
    margin: 0;
    font: inherit;
    cursor: pointer;
}