@import "../../../../assets/dashboard-variables.scss";
@import "../../../../assets/greenfinch-variables.scss";

.offcanvas-start {
    width: 500px;
}

.offcanvas-header {
    background-color: darken($brandColorLight,4%);
}

.offcanvas-body {
    background-color: $brandColorLight;
}

.molBlockSwitch, .molBlockDropdown {
    margin-bottom: $marginMedium;
}

h4 {
    margin-top: $marginSmall;
    margin-bottom: $marginSmall;
}

.button-offcanvas {
    background: none;
}


#offcanvasRight, #offcanvasLeft {
    .atmSwitchContent p {
        font-family: $brandFontReg;
        color: $brandColorDark;
        font-size: 0.8rem;
        line-height: 1.25;
        &.temp-small {
            font-size: 0.7rem;
            line-height: 1.6; 
        }
        & button {
            background: none;
            text-decoration: underline;
            margin: 0;
            padding: 0;
            &:hover {
                color: rgb(0,0,0,);
                cursor: pointer;
            }
        }
    }
    & h4 {
        @include titleStyle(0.9rem);
        color: $brandColorSecondary-dark;
    }
    & .atmButtonIconClean i {
        color: $brandColorSecondary-dark;
    }
}

.molDrawerRow {
    background-color: rgba(0,0,0,0.2);
    padding: $paddingSmall 0;
    margin-bottom: $marginMedium;
}