@import "../../../assets/greenfinch-variables.scss";

.atmNoContent {
    text-align: center;
    width: 100%;
    padding: $paddingSmall;
    font-size: 1.1rem;
    background-color: rgba(0,0,0,0.05);
    font-family: $brandFontBold;
    & i {
        margin: $marginXSmall 0;
    }
    & button, a {
        background-color: unset;
        text-decoration: underline;
        color: rgba($brandColorDark, 1);
        font-size: 1.1rem;
        line-height: 1.6;
        &:hover {
            color: rgba($brandColorDark, 0.5);
        }
    }
}