@import "../../../assets/dashboard-variables.scss";
@import "../../../assets/greenfinch-variables.scss";

.no-content {
    text-align: center;
    width: 100%;
    padding: $paddingSmall;
    font-size: 0.9rem;
    background-color: rgba(0,0,0,0.05);
    font-family: $brandFontBold;
    & i {
        margin-right: $marginXSmall;
    }
}