@import "../../../assets/dashboard-variables.scss";
@import "../../../assets/greenfinch-variables.scss";

.atmButtonGridHeader {
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    background: none;
}

/* Styles: File icons
- - - - - - - - - - - - - - - - - - */
.file-icon {
    background: linear-gradient(180deg, $brandColorSecondary 0%, $brandColorPrimary 76%, $brandColorSecondary 100%);
    border-radius: 2px;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    font-family: $brandFontSemi;
    &:before {
        border-bottom-left-radius: 2px;
        border-width: 5px;
        border-style: solid;
        border-color: #fff #fff rgba(255,255,255,0.35) rgba(255,255,255,0.35);
    }
    &:after {
        font-size: 0.9rem;
        color: $brandColorWhite;
        text-transform: lowercase;
        white-space: nowrap;
        overflow: hidden;
    }
}

.file-icon-lg {
    border-radius: 3px;
    &:before {
        border-bottom-left-radius: 2px;
        border-width: 8px;
    }
    &:after {
        font-size: 0.8rem;
    }
}

.file-icon-xl {
    border-radius: 4px;
    &:before {
        border-bottom-left-radius: 4px;
        border-width: 16px;
    }
    &:after {
        font-size: 0.9rem;
    }
}

