@import "../../../assets/greenfinch-variables.scss";

.atmIconFolder {
    width: 90px;
    height: 70px;
    position: relative;
    margin-bottom: 8px;
    margin-top: 12px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-top: 4px solid #96DCFD;
    &:before {
        width: 50%;
        height: 0.7em;
        position: absolute;
        top: -0.7em;
        left: 0px;
        content: '';
        border-radius: 5px 10px 0 0;
    }
}

.native.atmIconFolder {
    background: linear-gradient(180deg, $brandColorSecondary 0%, $brandColorPrimary 76%, $brandColorSecondary 100%);
    border-top: 4px solid $brandColorPrimary;
    &:before {
        background-color: $brandColorPrimary;
    }
    &.pending-deleted {
        opacity: 0.2;
        pointer-events: none;
        user-select: none;
        cursor: not-allowed;
    }
}

.shared.atmIconFolder { //Update classes to reflect 'shared' palette e.g. blue
    background: linear-gradient(180deg, $brandColorSecondary 0%, $brandColorPrimary 76%, $brandColorSecondary 100%);
    border-top: 4px solid $brandColorPrimary;
    &:before {
        background-color: $brandColorPrimary;
    }
    &.pending-deleted {
        opacity: 0.5;
        pointer-events: none;
        user-select: none;
        cursor: not-allowed;
    }
}