@import "../../../assets/dashboard-variables.scss";
@import "../../../assets/greenfinch-variables.scss";

// These styles are duplicated, potentially import styles from RowObject

.molButtonRow {
    margin-bottom: 7px;
    background-color: rgba($brandColorSecondary, 0.03);
    border: 1px solid $brandColorWhite;
    &:hover {
        background-color: rgba($brandColorSecondary, 0.05);
        border: 1px solid $brandColorPrimary;
    }
}

.atmButtonRowContent {
    border-radius: 0;
    background: none;
    &:hover {
        cursor: default;
    }
    & i {
        color: $brandColorPrimary;
        margin-right: $marginMedium;
    }
    & .atmButtonRowName {
        margin-left: 2px;
        font-family: $brandFontSemi;
        color: $brandColorSecondary-dark;
        font-size: 0.75rem;
        &:hover {
            cursor: pointer;
        }
    }
}