@import "../../../assets/greenfinch-variables.scss";

/* Component: Dropdown
- - - - - - - - - - - - - - - - - - */

.molContentDropdown {   
    & button.dropdown-toggle {
        border-radius: 0 !important;
        border: none!important;
        color: $brandColorDark;
        background-color: rgba($brandColorSecondary, 0.05);
        //min-height: $CardContentProportion;
        width: $CardContentProportion;
        & i {
            color: $brandColorDark;
        }
        &:hover {
            cursor: pointer;
            background-color: rgba($brandColorSecondary, 0.1);
        }
        &:after {
            display: none;
            margin-left: 0;
            vertical-align: 0;
            content: "";
            border: none;
        }
    }
}


