@import "../../../assets/dashboard-variables.scss";
@import "../../../assets/greenfinch-variables.scss";

/* Component: Dropdown
- - - - - - - - - - - - - - - - - - */

.molContentDropdown {   
    & button.dropdown-toggle {
        border-radius: 0 !important;
        background-color: rgba($brandColorSecondary, 0.05);
        height: $CardContentProportion;
        width: $CardContentProportion;
        & i {
            color: $brandColorDark;
        }
        &:after {
            display: none;
            margin-left: 0;
            vertical-align: 0;
            content: "";
            border: none;
        }
    }
}


