@import "../../../assets/dashboard-variables.scss";
@import "../../../assets/greenfinch-variables.scss";

/* Component: Progress
- - - - - - - - - - - - - - - - - - */
.molProgressContainer {
    & .molProgressWrapper {
        font-family: $brandFontSemi;
        background-color: $brandColorLight;
        box-shadow: $brandBoxShadow;
        & i.fa-times { // close button]
            transition: $brandTransitionSpeed;
            color: rgba($brandColorDark, 0.5);
            font-size: 1.1rem;
            &:hover {
                color: rgba($brandColorDark, 0.8);
            }
        }
    }
    & h6 {
        font-size: 0.9rem;
    }
}

.react-sweet-progress-symbol {
    font-family: $brandFontSemi;
}

/* Component: Progress
- - - - - - - - - - - - - - - - - - */
.molProgressContainer {
    // transition: transform .6s ease-in-out;
    // animation: progress-in-bottom .7s;
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 30000;
}

@keyframes progress-in-bottom {
	from {
	  transform: translateY(100%);
	}
	to {
	  transform: translateY(0);
	}
}

.molProgressWrapper {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 30000;
    width: 450px;
    min-height: 70px;
    margin: 0 auto;
    & .molProgressInner {
        min-height: 70px;
        width: 100%;
        & .molProgressContent {
            min-height: 70px;
            width: 100%;
            padding: $paddingSmall;
            & i.fa-times { // close button
                position: absolute;
                top: 3px;
                right: 0;
                cursor: pointer;
            }
        }
    }
}