@import "../../../assets/dashboard-variables.scss";
@import "../../../assets/greenfinch-variables.scss";

.atmSpinnerLoading {
    font-size: 0.8rem;
    font-family: $brandFontSemi;
    color: $brandColorDark;
    display: block;
    & i {
        margin-right: $marginXSmall;
    }
}