@import "../../../assets/dashboard-variables.scss";
@import "../../../assets/greenfinch-variables.scss";

.atmSpinnerLoading {
    font-size: 0.8rem;
    font-family: $brandFontSemi;
    color: $brandColorDark;
    display: block;
    & span {
        margin-left: $marginXSmall;
    }
    &.small {
        font-size: 0.8rem;
    }
    &.medium {
        font-size: 1rem;
    }
    &.medium {
        font-size: 1.2rem;
    }
}