@import "../../../assets/dashboard-variables.scss";
@import "../../../assets/greenfinch-variables.scss";

.section-homepage {
    background-color: rgba(0,0,0,0.05);
    padding: $paddingMedium;
    margin-bottom: $marginLarge;
    &:last-child {
        margin-bottom: 0;
    }
}