@import "../../../assets/greenfinch-variables.scss";

.atmButtonIcon {
    border-radius: $brandBorderRadius;
    &.small {
        font-size: 0.7rem;
        min-width: 0.7rem;
        padding: 3px 6px;
    }
    &.medium {
        font-size: 1rem;
        min-width: 1rem;
        padding: 4px 8px;
    }
    &.large {
        font-size: 1.2rem;
        min-width: 1.2rem;
        padding: 5px 10px;
    }
    &.default {
        color: $brandColorWhite;
        background-color: $brandColorDark;
        &.active {
            color: $brandColorPrimary;
            background-color: $brandColorDark; 
            cursor: default;
        }
        &:hover {
            color: $brandColorPrimary;
            background-color: $brandColorDark; 
        }
       
    }
    &.clean {
        color: $brandColorDark;
        background-color: transparent;
        &.active {
            cursor: default;
        }
        &:hover {
            background-color: transparent;
            color: $brandColorPrimary;
        }
    }
    &.secondary {
        color: $brandColorDark;
        border: 1px solid rgba(0,0,0,0.06);
        background-color: rgba(0,0,0,0.03);
        & i {
            color: $brandColorDark;
        }
        &:hover {
            text-decoration: none;
            color: $brandColorDark;
            background-color: rgba(0,0,0,0.1);
        }
    }  
}

.me-auto {
    & .atmButtonIcon {
        &.default, &.clean {
            margin-right: $marginXSmall;
        }
    }
}

.ms-auto {
    & .atmButtonIcon {
        &.default, &.clean {
            margin-left: $marginXSmall;
        }
    }
}