@import "../../../assets/dashboard-variables.scss";
@import "../../../assets/greenfinch-variables.scss";

.atmButtonIcon {
    &.default {
        color: $brandColorWhite;
        background-color: $brandColorDark;
        border-radius: $brandBorderRadius;
        &:hover {
            color: $brandColorPrimary;
            background-color: $brandColorDark; 
        }
        &.small {
            font-size: 0.8rem;
            min-width: 0.8rem;
            padding: 4px 8px;
        }
        &.medium {
            font-size: 1rem;
            min-width: 1rem;
            padding: 4px 8px;
        }
        &.large {
            font-size: 1.2rem;
            min-width: 1.2rem;
            padding: 5px 10px;
        }
    }
    &.clean {
        color: $brandColorDark;
        background-color: transparent;
        &:hover {
            background-color: transparent;
            color: $brandColorPrimary;
        }
        &.small {
            font-size: 1rem;
            min-width: 1rem;
            padding: 4px 0;
        }
        &.medium {
            font-size: 1.2rem;
            min-width: 1.2rem;
            padding: 5px 0;
        }
        &.large {
            font-size: 1.4rem;
            min-width: 1.4rem;
            padding: 6px 0;
        }
    }
}

.me-auto {
    & .atmButtonIcon {
        &.default, &.clean {
            margin-right: $marginXSmall;
        }
    }
}

.ms-auto {
    & .atmButtonIcon {
        &.default, &.clean {
            margin-left: $marginXSmall;
        }
    }
}

// Should be attribute == disbaled
.atmButtonIcon.clean {
    &.active {
        cursor: default; //temporary
    }
}