@import "../../../assets/greenfinch-variables.scss";

/* Notification Types
- - - - - - - - - - - - - - - - - - */
.molNotification {
    & .notificationWrapper {
        &.success {
            & i.fa-circle {
                color: $toastColorSuccess;
            }
            & span.notificationTitle {
                color: $toastColorSuccess;
            }
        }
        &.error {
            & i.fa-circle {
                color: $toastColorError;
            }
            & span.notificationTitle  {
                color: $toastColorError;
            }
        }
        &.warning {
            & i.fa-circle {
                color: $toastColorWarning;
            }
            & span.notificationTitle  {
                color: $toastColorWarning;
            }
        }
        &.info  {
            & i.fa-circle {
                color: $toastColorInfo;
            }
            & span.notificationTitle  {
                color: $toastColorInfo;
            }
        }
    }
}

/* Component: Toast
- - - - - - - - - - - - - - - - - - */
.notificationColumn {
    background-color: rgba(0,0,0,0.5);
    padding-top: $paddingSmall;
}

.molNotification {
    & .notificationWrapper {
        position: relative;
        margin: 0 auto;
        margin-top: $marginXSmall;
        margin-bottom: $marginSmall;
        font-family: $brandFontSemi;
        background: $brandColorWhite;
        border-radius: $brandBorderRadius;
        border: 1px solid rgba(0,0,0,0.2);
        box-shadow: $brandBoxShadow;
        & .notificationInner {
            width: 100%;
            padding: $paddingSmall;
            & .notificationIcon {
                & i.fa-megaphone {
                    color: rgba(255,255,255,0.5);
                }
            }
            & .notificationContent {
                width: 100%;
                background-color: $brandColorWhite;
                padding-left: $paddingSmall;
                & span.notificationTitle {
                    margin-bottom: 7px;
                    letter-spacing: $brandLetterSpacing;
                    font-size: 1rem;
                    line-height: 1.2;
                    text-transform: uppercase;
                    font-family: $brandFontBold;
                }
                & span.notificationDesc {
                    font-size: 0.7rem;
                    line-height: 1.2;
                    font-family: $brandFontSemi;
                    margin-bottom: $marginSmall;
                }
                & span.notificationTime {
                    font-size: 0.9rem;
                    line-height: 1.2;
                    font-family: $brandFontSemi;
                }
            }
        }
    }
}